<h1>Edit picture</h1>

<%= form_tag("http://localhost:3000/update_picture/#{@pic.id}", :method => "patch") do %>
  <div>
    <%= label_tag :caption, "Caption:" %>
    <%= text_field_tag :caption, @pic.caption %>
  </div>
  <div>
    <%= label_tag :source, "Image URL:" %>
    <%= text_field_tag :source, @pic.source %>
  </div>
  <div>
    <input type="submit" value="Edit Picture">
  </div> 
<% end %>